@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body {
    background-color: lightgrey;
}
.nav-bar{
    background-color: #77abc8;
    border-radius: 45px;
    font-family: Outfit;
    margin: 20px;
    width: 50%;
    opacity: 80%;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.25);
}
.nav-con{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.nav-btn{
    display: inline-block;
    text-align: center;
    border-radius: 35px;
    width: 100px;
    text-decoration: none;
    color: white;
    margin: 5px;
    padding: 10px 15px;
    border: 1px solid transparent;
}
.nav-btn:hover{
    background-color:  #89CFF0;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
    border-color: white;
}