@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body {
    background-color: lightgrey;
    min-width: 50vw;
}
.nav-bar{
    background-color: #77abc8;
    border-radius: 45px;
    font-family: Outfit;
    margin: 20px;
    width: 50%;
    opacity: 80%;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.25);
}
.nav-con{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.nav-btn{
    display: inline-block;
    text-align: center;
    border-radius: 35px;
    width: 100px;
    text-decoration: none;
    color: white;
    margin: 5px;
    padding: 10px 15px;
    border: 1px solid transparent;
}
.nav-btn:hover{
    background-color:  #89CFF0;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
    border-color: white;
}

/* Icons on contact < ------------------------------------------------------------------ >*/

#contactBtn {
    position: relative;
    overflow: hidden;
    transition: width 0.35s ease;
    width: 100px;
    display: flex;          
    align-items: center;     
    gap: 10px;
}

#contactBtn.active {
    width: 400px;
}

#socialIcons {
    display: flex;
    gap: 12px;
    opacity: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s ease;
    pointer-events: none; 
}

#contactBtn.active #socialIcons {
    opacity: 1;
    pointer-events: auto;
}

.icon {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: transform 0.2s;
}

.icon:hover {
    transform: scale(1.2);
}
